body{
    margin:0;
    padding:0;
    color: rgb(54, 14, 14);
}
.top{
    display:flex;
    text-align:center;
    align-items:center;
    border:3px solid;
    height:80px;
}
.top-logo{

color:rgb(192, 59, 81);
font-weight:700;
font-size:30px;
width:800px;
}
.top-icon1{
    font-size:30px;
    flex:1;
}
.top-icon2{
    font-size:30px;
    flex:1;
}
.middle{
    flex-direction : column;
display:flex;
border: 3px solid;
height:800px;
text-align:center;
}
.myorder{
    margin:10px;
    height:500px;
    font-size:30px;
    background-color : rgb(250, 201, 209);
}
.category{
    height:600px;
    font-size:30px;
    margin:10px;
}
.number1{
    color : red;
}
.number2{
    color : green;
}
.other{
    margin:10px;
    flex:1;
    font-size:30px;
    background-color : rgb(250, 201, 209);
}
.bottom{
    border:3px solid;
    height:80px;
    
}
table{
    display:inline-table;
    font-size:20px;
    background-color:rgb(247, 238, 241)
}
image{
    width : 2px;
    height : 2px;
}
.table-control{
    margin:auto;
    width:800px;
    height:200px;
    overflow:auto;
}
button{
    color : rgb(255, 255, 255);
    background:rgb(201, 77, 98);
    font-size:15px;
    border-radius:0.8em;
    align-items:center;
}