body{
    margin:0;
    padding:0;
    color: rgb(78, 21, 21);
}
.top{
    display:flex;
    text-align:center;
    align-items:center;
    border:3px solid;
    height:80px;
}
.top-logo{

color:rgb(134, 21, 21);
font-weight:700;
font-size:30px;
width:800px;
}
.top-icon1{
    font-size:30px;
    flex:1;
}
.top-icon2{
    font-size:30px;
    flex:1;
}
.middle{
    flex-direction : column;
display:flex;
border: 3px solid;
height:800px;
text-align:center;
}
.myorder{
    margin:10px;
    height:300px;
    font-size:30px;
    background-color : rgb(247, 233, 235);
}
.category{
    height:700px;
    font-size:30px;
    margin:10px;
}
.other{
    margin:10px;
    flex:1;
    font-size:30px;
    background-color : rgb(255, 232, 234);
}
.bottom{
    border:3px solid;
    height:80px;
    
}
table{
    display:inline-table;
    font-size:20px;
    background-color:rgb(247, 238, 241)
}